{
    "extends": ["react-app", "plugin:jsx-a11y/recommended"],
    "parser": "babel-eslint",
    "plugins": ["jsx-a11y"],
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "double"],
        "max-len": ["error", 350],
        "no-unused-vars": ["warn", { "args": "none" }],
        "class-methods-use-this": "off",
        "jsx-a11y/href-no-hash": "off",
        "camelcase": "error",
        "no-return-assign": "off",
        "no-noninteractive-element-to-interactive-role": "off",
        "no-console": ["error", { "allow": ["log", "error", "warn"] }]
    }
}
