{
    "extends": ["airbnb"],
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "double"],
        "max-len": ["error", 350],
        "no-unused-vars": ["warn", { "args": "none" }],
        "class-methods-use-this": "off",
        "jsx-a11y/href-no-hash": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "camelcase": "error",
        "no-return-assign": "off",
        "no-noninteractive-element-to-interactive-role": "off",
        "no-console": ["error", { "allow": ["log", "error", "warn"] }],
        "react/jsx-indent" : ["error", 4],
        "react/jsx-indent-props" : ["error", 4],
        "import/no-extraneous-dependencies": "off",
        "import/prefer-default-export": "off",
        "react/destructuring-assignment": "off"
    }
}
