{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "jsx-a11y", "import"],
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true
  }
}
